﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contactenos</title>
</head>
<body>
    <div>
        <P>Contactenos
        <br /> Nombre
        <br /> Yessica Alejandra Suaza 
        <br /> Codigo:172009450
        <br /> Telefono:3124910478
        <br /> Correo: yessicasuaza@hotmail.com
    </div>
</body>
</html>
